@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    max-width: 1300px;
    padding: 0;
    margin: 0px;
    z-index: 0;
}

#navbar{
    background-color: rgb(192, 192, 192);
    position: fixed;
    z-index: 1;
    width: 100%;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    text-decoration: none;
    color: black;
    text-size-adjust: 18px;
    padding: 15px;
}

img{
    float: left;
    width: 30%;
    margin-right: 15px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header{
    display: flex;
    flex-wrap: wrap;
}

.about{
    background-color: rgb(192, 192, 192);
    padding: 10px;
    font-size: 20px;
    padding-left: 0;
    margin-top: 70px;
    padding-top: 0px;
    padding-right: 0px;
}

.about h3{
    font-size: 30px;
    padding-top: 10px;
}

#aboutme{
    position: relative;
    padding: 10px;
    margin: 10px;
}

#myname{
    position: relative;
    right: 370px;
    bottom: -50px;
    background-color: rgba(0, 0, 0, 0.703);
    bottom: 1px;
    top: 27px;
    margin-left: 370px;
    width: 100%;
}

#myname h1, #myname p{
    color: white;
    text-align: left;
    padding: 5px;
    text-align: left;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;

}

.container h3{
    margin: 0;
    padding: 0;
}

.left_column{
    background-color: rgb(192, 192, 192);
    width: 28%;
    padding: 1%;
    padding-right: 3%;
    font-size: 18px;
    line-height: 1.5;
    min-width: 20%;
    margin-top: 10px;
}

.right_column{
    width: 64%;
    padding: 1%;
    padding-left: 3%;
    line-height: 1.5;
    font-size: 18px;
    min-width: 30%;
    margin-top: 10px;
}

hr{
    border: 1px solid black;
}

.left_column ul, .right_column ul{
    padding-left: 5%;
}

.footer{
    padding: 10px;
    margin: 10px;
}

.form_group{
    padding: 10px;
    font-weight: bold;
}

.form label{
    display: inline ;
}

.form input, .form textarea{
    padding: 5px;
    width: 20%;
}

.form textarea{
    width: 50%;
}

#submit{
    display: grid;
}