@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
//font-family: 'Raleway', sans-serif;

@font-face {
    font-family: 'UA Army Labels';
    src: url('../font/UAArmyLabels.eot');
    src: local(''),
        url('../font/UAArmyLabels.woff') format('woff'),
        url('../font/UAArmyLabels.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
//font-family: 'UA Army Labels';

%UAfont{
    font-family: 'UA Army Labels';
    text-transform: uppercase;
}

$maincolor: rgb(86, 114, 83);
$secondcolor: rgb(9, 95, 0);
$textcolor: rgb(16, 29, 14);
$bgcolor: rgb(114, 118, 113);
$sectioncolor: rgb(124, 159, 128);

$boxshadow: 2px 2px 10px 4px rgb(14 55 54 / 2);
$boxshadow2: 2px 2px 10px 4px rgba(0, 0, 0, 0.504);

*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    transition: all .2s linear;
    line-height: 1.5;
}

a{
    color: $textcolor;
}

img{
    width: 100%;
}

section{
    padding: 50px 100px;
}

body{
    background-color: $bgcolor;
}

.btn{
    padding: 10px 40px;
    border-radius: 0.3rem;
    background: $maincolor;
    color: $textcolor;
    font-weight: bold;
    &:hover{
        background: $secondcolor;
    }
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 0.5s linear;
    background-color: $secondcolor;
    a{
        @extend %UAfont;
    }
    .logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem;
        h1{
            font-size: 3rem;
            @extend %UAfont;
        }
    }
    .img{
        
        img{
            border-radius: 50%;
            width: 100px;
            padding: 0.5rem;
            padding-bottom: 0;
        }
    }
    .navbar{
        display: flex;
        align-items: center;
        a{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-left: 1rem;
            padding-right: 1rem;
            p{
                @extend %UAfont;
                font-size: 2rem;
                padding-left: 0.2rem;
                padding-right: 0.2rem;
            }
            &:hover{
                background: $maincolor;
                border-radius: 0.2rem;
                transition: 0.2s all linear;
            }
        }
    }
    .header-icon{
        font-size: 2rem;
        color: $textcolor;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        cursor: pointer;
        &:hover{
            background: $maincolor;
            border-radius: 50%;
            transition: 0.2s all linear;
        }
    }
    .bars{
        display: none;
    }
    #menu-icon{
        font-size: 1.7rem;
        padding: 0.5rem;
        z-index: 10001;
        cursor: pointer;
        &:hover{
            background: $maincolor;
            border-radius: 10%;
            transition: 0.2s all linear;
        }
    }
    // .search-box{
    //     position: absolute;
    //     top: -100%;
    //     left: 50%;
    //     transform: translate(-50%);
    //     background: $bgcolor;
    //     width: 100%;
    //     // .active{
    //     //     top: 110%;
    //     //     box-shadow: $boxshadow;
    //     //     transition: 0.2s all linear;
    //     // }
    //     input{
    //         padding: 1rem;
    //         border: none;
    //         outline: none;
    //         width: 100%;
    //         font-size: 1rem;
    //         color: $maincolor;
    //         &::placeholder{
    //             font-size: 1rem;
    //             font-weight: bold;
    //         }
    //     }
    // }
}



.home{
    width: 100%;
    min-height: 100vh;
    padding-top: 12vh;
    background: url(../imgs/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .home-text{
        width: 60%;
        min-width: 325px;
    }
    h1{
        font-size: 3rem;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .home-img{
        width: 30%;
        padding: 1rem;
        min-width: 200px;
    }

}

.about{
    background-color: $sectioncolor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    .about-text{
        flex: 1 1 40%;
        padding: 1rem;
        min-width: 360px;
        h2{
            text-transform: uppercase;
            font-size: 3rem;
        }
        p{
            font-size: 1.1rem;
        }
    }
    .about-img{
        flex: 1 1 60%;
        padding: 1rem;
    }
}

.items{
    padding-top: 8rem;
    h2{
        padding: 1rem;
        font-size: 3rem;
        
    }
}

.items-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
        flex: 1 1 20rem;
        box-shadow: $boxshadow2;
        background-color: $sectioncolor;
        justify-content: space-between;
        border-radius: 0.5rem;
        .content{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            span{
                font-weight: bolder;
                color: $textcolor;
                background-color: $maincolor;
                padding: 0.3rem;
                border-radius: 0.5rem;
                margin: 0.2rem;
            }
            p{
                background-color: $maincolor;
                padding: 0.3rem;
                border-radius: 0.5rem;
                margin: 0.2rem;
            }
            button{
                font-weight: bold;
                font-size: 1.3rem;
                background-color: $maincolor;
                padding: 0.2rem;
                border-radius: 0.5rem;
                margin: 0.2rem;
                border: none;
                &:hover{
                    color: white;
                    background-color: $secondcolor;
                }
            }
        }
        h3{
            background-color: $maincolor;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
        img{
            margin-bottom: 0.7rem;
            border-radius: 5%;
            &:hover{
                box-shadow: $boxshadow2;
                transform: scale(1.2);
                border-radius: 20%;
            }
        }
        
    }
}

.cart{
    padding-top: 10rem;
    h2{
        text-transform: uppercase;
        font-size: 3rem;
    }
    hr{
        color: $textcolor;
        border: 0.2rem solid $textcolor;
        border-radius: 0.2rem;
    }
    .above-items{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 2rem;
        h3{
            font-size: 2rem;
            border-bottom: 0.5rem solid $textcolor;
        }
        .vertsl{
            border-bottom: none;
        }
    }
    .cart-items{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        .box{
            padding: 1rem;
            margin: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            box-shadow: $boxshadow2;
            background-color: $sectioncolor;
            border-radius: 0.5rem;
            .content{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 65%;
                padding: 0.5rem;
                margin: 0.5rem;
                p{
                    background-color: $maincolor;
                    padding: 0.3rem;
                    border-radius: 0.5rem;
                    margin: 1rem;
                    font-size: 1.3rem;
                    // span{
                    //     font-weight: bolder;
                    //     color: $textcolor;
                    //     //display: none;
                    // }
                }
                button{
                    font-weight: bold;
                    font-size: 1.3rem;
                    background-color: $maincolor;
                    padding: 0.3rem;
                    border-radius: 0.5rem;
                    margin: 0.2rem;
                    border: none;
                    &:hover{
                        color: white;
                        background-color: $secondcolor;
                    }
                }
                input{
                    border-radius: 0.5rem;
                    padding: 0.2rem;
                    width: 15%;
                    border: 0.2rem solid $maincolor;
                    font-size: 1.7rem;
                    display: flex;
                    text-align: center;
                    &:focus{
                        border-radius: 0.5rem;
                        padding: 0.2rem;
                        width: 10%;
                    }
                }
            }
            h3{
                text-align: center;
                min-width: 25%;
                width: 30%;
                background-color: $maincolor;
                padding: 0.5rem;
                border-radius: 0.5rem;
                margin: 0.5rem;
            }
            img{
                width: 10rem;
                border-radius: 0.5rem;
                margin: 0.5rem;
                margin-right: 2rem;
            }
        }
    }
    .cart-total{
        display: flex;
        flex-direction: column;
        text-align: right;
        strong{
            padding: 1rem;
            font-size: 2rem;
            padding-bottom: 0.5rem;
        }
        span{
            font-size: 1.7rem;
            padding-right: 1rem;
        }
    }
}


.volunteers{
    padding-top: 10rem;
    h2{
        font-size: 3rem;
    }
    .volunteers-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .volunteer-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            margin: 1rem;
            flex: 1 1 20rem;
            box-shadow: $boxshadow2;
            background-color: $sectioncolor;
            justify-content: space-between;
            border-radius: 0.5rem;
            h3{
                display: flex;
                justify-content: center;
                font-size: 2rem;
            }
            .volunteer-content{
                align-items: center;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                flex-direction: row;
                p{
                    width: 70%;
                    font-size: 1.4rem;
                }
                .volunteer-img{
                    width: 20%;
                    img{
                        border-radius: 30%;
                    }
                }
            }
        }
    }
}




footer{
    background-color: $sectioncolor;
    .footer-titles{
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        h1{
            padding: 1rem;
        }
        img{
            &#flag{
                width: 6%;
                min-width: 53px;
            }
            &#gerb{
                width: 5%;
                min-width: 45px;
            }
        }
    }
    .weather{
        background-color: $bgcolor;
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        h1{
            background-color: $maincolor;
            border-radius: 0.7rem;
            padding: 0.3rem;
            margin: 0.3rem;
            text-align: center;
        }
        h2{
            background-color: $maincolor;
            border-radius: 0.7rem;
            font-size: 1.7rem;
            padding: 0.3rem;
            margin: 0.3rem;
        }
        h3{
            background-color: $maincolor;
            border-radius: 0.7rem;
            text-transform: capitalize;
            font-size: 1.7rem;
            padding: 0.3rem;
            margin: 0.3rem;
        }
        i{
            background-color: $maincolor;
            border-radius: 0.7rem;
            padding: 0.3rem;
            margin: 0.3rem;
        }
    }
}

@media(max-width: 1387px){
    .cart{
        .above-items{
            padding-left: 3rem;
            padding-right: 3rem;
        }
        .cart-items{
            .box{
                h3{
                    font-size: 1.3rem;
                    min-width: none;
                    width: 10%;
                }
                img{
                    width: 7rem;
                }
            }
        }
    }
}

@media(max-width: 1235px){
    .cart{
        .cart-items{
            .box{
                .content{
                    justify-content: space-between;
                }
            }
        }
    }
}

@media(max-width: 1058px){
    header{
        padding: 16px 60px;
    }
    section{
        padding: 50px 60px;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .about{
        .about-img{
            flex: 1 1 30%;
            padding: 1rem;
        }
        .about-text{
            h2{
                text-transform: uppercase;
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
    .items-container{
        .box{
            flex: 1 1 15rem;
        }
    }
    .cart{
        .above-items{
            padding-left: 4rem;
            padding-right: 4rem;
            h3{             
                font-size: 1.5rem;
                border-bottom: 0.5rem solid $textcolor;
            }
        }
        .cart-items{
            .box{
                h3{
                    font-size: 1rem;
                }
            }
        }
    }
}

@media(max-width: 991px){
    header{
        padding: 16px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home-text h1{
        font-size: 2rem;
    }
    .cart{
        .cart-items{
            .box{
                img{
                    margin-right: 1rem;
                }
                .content{
                    padding-left: 0;
                    .weight{
                        margin-left: 0;
                    }
                }
            }
        }
    }
    footer{
        .weather{
            flex-wrap: wrap;
        }
    }
}

@media(max-width: 885px){
    .cart{
        .above-items{
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}

@media(max-width: 768px){
    header{
        padding: 12px 4%;
    }
    header .bars{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: $bgcolor;
        row-gap: 1.4rem;
        padding: 20px;
        transition: 0.3s;
        text-align: center;
    }
    .navbar.active{
        top: 100%;
    }
    .home{
        flex-direction: column;
        .home-text{
            display: flex;
            flex-direction: column;
            padding-top: 3rem;
            width: 60%;
            min-width: none;
            align-items: center;
        }
        h1{
            font-size: 2.5rem;
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0.6);

        }
        .home-img{
            width: 30%;
            padding: 1rem;
            min-width: none;
        }
    }
    .about{
        flex-direction: column;
        .about-img{
            flex: 1 1 30%;
            padding: 1rem;
        }
        .about-text{
            h2{
                text-transform: uppercase;
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
    .cart{
        .above-items{
            h3{
                font-size: 1.1rem;
            }
        }
        .cart-items{
            .box{
                h3{
                    font-size: 1rem;
                }
                img{
                    width: 4.6rem;
                    padding: 0;
                    margin: 0;
                    padding-right: 0.3rem;
                    margin-right: 0.3rem;
                }
                .content{
                    p, button{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 610px){
    .cart{
        .above-items{
            display: none;
        }
        .cart-items{
            .box{
                flex-direction: column;
                img{
                    width: 10rem;
                    padding: 0.5rem;
                    margin: 0.5rem;
                }
                h3{
                    width: 100%;
                }
                .content{
                    width: 100%;
                    justify-content: space-around;
                }
            }
            
        }
    }
    .volunteers{
        .volunteers-container{
            .volunteer-box{
                h3{
                    text-align: center;
                }
                .volunteer-content{
                    flex-direction: column;
                    .volunteer-img{
                        width: 40%;
                    }
                }
            }
        }
    }
}

@media(max-width: 585px){
    .items-container{
        .box{
            flex: 1 1 10rem;
        }
    }

}

@media(max-width: 450px){
    header{
        padding: 9px 4%;
        .logo{
            h1{
                font-size: 2rem;
            }
            .img{
                img{
                    width: 50px;
                }
            }
        }
    }
    .home{
        .home-text{
            padding-top: 0;
            h1{
                font-size: 2rem;
            }
        }
    }
    .items-container{
        .box{
            flex: 1 1 15rem;
        }
    }
}

@media(max-width: 375px){
    *{
        min-width: none;
        min-height: none;
    }
    .logo img{
        width: 45px;
    }
    .home-text{
        padding-top: 15px;
    }
}
